
      <div class="row">

        <!-- contact form -->
        <article class="span6">
          <h3>Join Our Mailing List</h3>
          <div class="inner-1">
              <%= simple_form_for @visitor do |f| %>
                <%= f.error_notification %>
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :email %>
                <br/>
              <div class="buttons-wrapper">
                <%= f.button :submit, "Sign up for the mailing list", :class => "btn btn-1" %>
              </div>
          <% end %>
          </div>
        </article>
        <!-- end contact form -->

        <!-- the Google map -->
        <article class="span6">
          <h3>Contact info</h3>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3567.961696299858!2d-81.94191459999999!3d26.585604399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88db40ba051fdde1%3A0xa5eb13eabc8cdf6f!2s3571+Del+Prado+Blvd%2C+Cape+Coral%2C+FL+33904!5e0!3m2!1sen!2sus!4v1433371108972" width="400" height="300" frameborder="0" style="border:0"></iframe>
          </div>
          <address class="address-1">
          <strong>GW Promotions<br>
          GW Development International, Inc.<br>
          3571 Delprado Blvd., Suite 19<br>
          Cape Coral, Florida 33909</strong>
          <div class="overflow">
            <span>Telephone:</span>+1 800 603 6035<br>
            <span>E-mail:</span> <a href="#" class="mail-1">mail@initialsmagazine</a><br>
          </address>
        </article> <!-- end Google map -->

      </div>

