<h3><%= article.title %></h3>
                <time class="date-1"><%= article.created_at.to_date.strftime('%B %-d, %Y') %></time>
                <div class="name-author date-1"><%=article.author %></div>
                <div class="name-author">
                <!-- disqus comments link -->
                <%= link_to "",
                article_path(article, :anchor => "disqus_thread"),
                        :"data-disqus-identifer" => article.id %></div>

                <div class="clear"></div>
                 <% if article.photos.exists? %>
                 <%= image_tag(article.photos.first.photo.url(:large)) %>
                 <% else %>
                <%= image_tag('page4-img1.jpg') %>
                 <% end %>
                <p><%= article.body %></p>
                <p>Read on ...
                <%= link_to article.title, article_path(article) %>
                </p>

