<div class="spinner"></div>

<div class="bg-content">
  <div class="container">
    <div class="row">
      <div class="span12">

        <!-- slider is here -->
        <%= render partial: 'layouts/slider' %>

        <span id="responsiveFlag"></span>

        <div class="block-slogan">
          <h2>Welcome To Initials Magazine!</h2>
          <div>
            This started as a portal for an online magazine, but the client cancelled the project. Now it serves as a portfolio piece for Preston Copeland. Technical highlights include: secure payment processing through the Stripe API (Stripe Checkout; disabled because it's a demo now), Solr for full-text search of articles (disabled because it's a demo now), addition of guests to a working mailing list via MailChimp, Devise for authentication, and Disqus for comments.
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="content" class="content-extra">
    <div class="row-1">
      <div class="container">
        <div class="row">
          <ul class="thumbnails thumbnails-1">

            <li class="span3">
              <h3>Inspiration</h3>
              <div class="thumbnail thumbnail-1">
              <%= image_tag("page1-img1.jpg") %>
              <section> <strong>At vero eos et accusamus et iusto </strong>

              <p>Odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
              <%= link_to('Read More', articles_sort_path(:category => 'inspiration'), :class => 'btn btn-1')%></section>
              </div>
            </li>

            <li class="span3">
              <div class="thumbnail thumbnail-1">
                <h3>Celebrities</h3>
                <div class="thumbnail thumbnail-1">
              <%= image_tag("page1-img2.jpg") %>
                <section> <strong>Deleniti atque corrupti quos</strong>
                  <p>Dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                  <%= link_to('Read More', articles_sort_path(:category => :celebrities), :class => 'btn btn-1')%></section>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail thumbnail-1">
                <h3>Music</h3>
               <div class="thumbnail thumbnail-1">
              <%= image_tag("page1-img3.jpg") %>
                <section> <strong>Similique sunt in culpa qui officia </strong>
                  <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                  <%= link_to('Read More', articles_sort_path(:category => 'music'), :class => 'btn btn-1')%> </section>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra">Sports</h3>
                <div class="thumbnail thumbnail-1">
              <%= image_tag("page1-img4.jpg") %>
                <section> <strong>Similique sunt in culpa qui officia</strong>
                  <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                  <%= link_to('Read More', articles_sort_path(:category => 'sports'), :class => 'btn btn-1')%> </section>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <article class="span6">
          <h3>This Month's Theme: JAZZ</h3>
          <div class="wrapper">
            <figure class="img-indent"><%= image_tag("page1-img5.jpg") %>
            </figure>
            <div class="inner-1 overflow extra">
              <div class="txt-1">The legendary Mary Stallings will perform in Florida in July. “On this special and poignant evening, the singer delivered a wonderful gift, making those present feel so much through her artistry. We can only hope that a new holiday tradition has begun in Prague: Jazz at the National Theater with greats like Mary Stallings.”
These were the words of the Czech music critic reporting on Mary Stallings’ appearance at the Prague National Theater on December 23, 2011 – the first time any jazz artist has appeared at the iconic home of classical, opera and ballet since it was constructed in 1881! That the Prague people would select Mary Stallings to bring jazz to their hallowed hall speaks volumes on Mary’s voice and talent.
Mary Stallings is a classic example of how it takes time, musical seasoning and living a full life to mature as a vocalist and to address a lyric properly. While youthful instrumentalists may have something to say, Stallings brings a lifetime of emotional intelligence that enables her to truly inhabit a lyric.
              </div>
              <div class="clear"></div>
              <div class="border-horiz"></div>
              <div class="overflow">
                <div id="footer-menu">
                <ul>
                  <li ><%= link_to "Upcoming Events", events_path %></li>|
                  <li><%= link_to "Advertise With Us", page_path("advertise") %></a></li>|
                  <li><%= link_to "About Initials", page_path("about") %></li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </article>
        <article class="span6">
          <h3>Latest Articles</h3>
          <%= render partial: 'latest_articles_panel' %>
        </article>
        <div style="float:right">
        <iframe width="400" height="315" src="https://www.youtube.com/embed/JRWox-i6aAk" frameborder="0" allowfullscreen></iframe>
      </div>

      </div>
    </div>
  </div>
</div>






