<div class="spinner"></div>


      <div class="row"><h1>Latest Articles</h1>

        <article class="span8">
          <div class="inner-1">
            <%= link_to('Add New Article', new_article_path, :class => 'btn btn-1')%>
            <ul class="list-blog">
              <% @articles.each do |article| %>
              <li>
                <%= render partial: 'articles/individual_article', locals: {:article => article} %>
                <p>Read on ...
                <%= link_to article.title, article_path(article) %>
                </p>
                 </li>
                <% end %>
            </ul>
          </div>
           <%= will_paginate @articles %>
        </article>

      <div>
        <%= will_paginate @articles %>
      </div>

        <article class="span4">

          <!-- Search bar -->
          <%= render partial: 'layouts/search_bar' %>
          <!-- end search bar -->


          <!-- latest articles list -->
            <%= render partial: 'layouts/sidebar_list', locals: {:articles => @latest_articles, :title => 'Latest Articles'} %>
          <!-- end latest articles list -->

          <!-- most popular articles -->
            <%= render partial: 'layouts/sidebar_list', locals: {:articles => @popular_articles, :title => 'Most Popular Articles'} %>
            <!-- end most popular articles list -->

        </article>
      </div>







