<div class="bg-content">
  <div id="content">
    <div class="container">
      <div class="row"><h1>Latest <%= @category %> News</h1> </div>
      <div class="row">
        <article class="span12">
          <div class="inner-1">
            <ul class="list-blog">
                <% @articles.each do |article| %>
                <li>
                <h3><%= article.title %></h3>
                <time class="date-1"><%= article.created_at.to_date %></time>
                <div class="name-author">by <%=article.author %></div>
                <a href="#" class="comments">11 comments</a>
                <div class="clear"></div>
                 <% if article.photos.exists? %>
                 <%= image_tag(article.photos.first.photo.url(:large)) %>
                 <% else %>
                <%= image_tag('page4-img1.jpg') %>
                 <% end %>
                <p><%= article.body %></p>
                <p>Read on ...
                <%= link_to article.title, article_path(article) %> </p></li>
                <% end %>
            </ul>
          </div>
      </article>
    </div>
  </div><!--container-->
</div><!--content-->
</div> <!--bgcontent-->