<h3>User</h3>
<p>Email: <%= @user.email %></p>
<p>First Name: <%= @user.first_name%></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Addressee: <%= @user.addressee %></p>
<p>Address Line 1: <%= @user.address_line_1 %></p>
<p>Address Line 2: <%= @user.address_line_2 %></p>
<p>City: <%= @user.city%></p>
<p>State: <%= @user.state %></p>
<p>Zip Code: <%= @user.zip_code %></p>
<p>Country: <%= @user.country %></p>

<%= link_to "Back to all users", users_path %> |

<% if user_signed_in? %>
 <% if current_user.admin? || @user == current_user %>
      <%= link_to("Delete user", user_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless @user == current_user %>
 <% end %>
 <% end %>


