<div class="spinner"></div>

<div class="bg-content">
  <div id="content">
    <div class="container">
      <div class="row">


<p id="notice"><%= notice %></p>

 <h1>Events</h1>

  <div class="span-6">

    <%= link_to 'Add New Event', new_event_path %><br>
    <% @events.each do |event| %>
    <h5><%= event.title %></h5>
    <%= event.description %><br><br>
    Start Date: <%= event.start_date.strftime('%B %-d, %Y') %><br>
    End Date: <%= event.end_date.strftime('%B %-d, %Y') %><br>
    Address: <%= event.address %>,
    <%= event.city %>, <%= event.state %><br>
    Telephone: <%= event.telephone %><br>
    Email: <%= event.email %><br><br>
    <%= link_to 'Edit Event', edit_event_path(event) %> |
    <%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %> <!-- end do block -->
  </div> <!-- end first col div -->


  <div class="span-6">
    <%= image_tag('page3-img3.jpg', :class => "magnifier box") %><br><br>
     <%= image_tag('page3-img12.jpg', :class=> "magnifier box") %>
  </div>





      </div>
    </div>
  </div>
</div>



