<div class="row">
<h2> Articles Filed Under <%= @tag.name.upcase %> </h2>

  <ul>
    <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %> </li>
    <% end %>
  </ul>

  </div>

    <div class="row">
    <%= link_to "Edit tag", edit_tag_path(@tag) %> |
    <%= link_to "Delete tag", tag_path(@tag), method: :delete, data: {confirm: "Really delete the category?"} %> |
    <%= link_to "Back to all tags", tags_path %>
    </div>


