 <div class="flexslider">
          <ul class="slides">
            <li> <%= image_tag("slide-1.jpg") %>
             </li>
            <li> <%= image_tag("slide-2.jpg") %>
             </li>
            <li> <%= image_tag("slide-3.jpg") %>
             </li>
            <li> <%= image_tag("slide-4.jpg") %>
             </li>
            <li> <%= image_tag("slide-5.jpg") %>
            </li>
          </ul>
</div>