<!DOCTYPE html>
<html>
<head>
  <title>OnlineMagazine2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<%= render partial: 'layouts/header' %>

<div class="bg-content">
  <div id="content">
    <div class="container">
      <div class="row">
        <p> <%= flash.notice %> </p>
      </div>
    </div>
  </div>
</div>

<div class="spinner"></div>
 <div class="bg-content">
  <div id="content">
    <div class="container">
<%= yield %>
</div>
</div>
</div>

<%= render partial: 'layouts/footer' %>

<!--
<script>
if ($(window).width() > 1024) {
    document.write("<" + "script src='javascripts/jquery.preloader.js'></" + "script>");
}
</script>
-->

<script>
  jQuery(document).ready(function () {
    $x = $(window).width();
    /*
    if ($x > 1024) {
        jQuery("#content .row").preloader();
    } */
    jQuery('.magnifier').touchTouch();
    jQuery('.spinner').animate({
        'opacity': 0
    }, 1000, 'easeOutCubic', function () {
        jQuery(this).css('display', 'none')
    });
});
</script>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'initialsmagazine';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

<!--
<script>
jQuery(window).load(function () {
    $x = $(window).width();
    if ($x > 1024) {
        jQuery("#content .row").preloader();
    }
    jQuery('.magnifier').touchTouch();
    jQuery('.spinner').animate({
        'opacity': 0
    }, 1000, 'easeOutCubic', function () {
        jQuery(this).css('display', 'none')
    });
});
</script>
-->
</body>


</html>
